
body{
	background-color: #eee/*rgb(162,166,166)*/;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;

}

.div2 {
	max-width: 1000px;
	width:100%;
	margin: 0 auto;

	
}

.header{
	position: sticky;
	top: 0px;
	/*width: 100%;
    height: 100%;
    max-width: 300px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
	background-color: #eee;
}
.head{
	display: flex;
	/*justify-content: space-between;*/
}

.logo img{
	width: 100%;
    height: 100%;
    max-width: 300px;
	display: flex;
	justify-content: flex-start;
}
.features{
	padding-right: 20px;
	padding-left: 490px;
}
.how{
	padding-right: 30px;
	padding-left: 50px;
}
.prices{
	padding-left: 40px;
}
.nav {
	list-style: none;
	display: flex;
	font-weight: 400;
}
.nav div{
	margin-right: 20px;
}
.nav a{
	color: #000;
	text-decoration: none;
}
.hand{
	height: 200px;
	margin-top: 50px;
}
.handcrafted {
	display: flex;
	justify-content: center;
	word-wrap: break-word;
}
.price{
	display: flex;
	justify-content: flex-end;
}
.email{
	display: flex;
	justify-content: center;
	max-width: 275;
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
.email input{ 
	width: 26%;
	height: 30px;
}

.button{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
	color: black;
}
.auto{
	}
.premium{
	display: flex;
	justify-content: center;
	/*padding: 10px;*/
	margin:20px;
	padding-right: 150px;
	margin-left: 0px;	 	
}

.premium img{
	padding-right: 0px;
	padding-left: 0px;
}
.premium h2,p{
	margin: 0;
}

.shipping{
	display: flex;
	justify-content: center;
	padding: 20px;
	/*margin:20px;	 */
}
.shipping img{
	padding-right: 30px;
}
.shipping h2,p{
	margin: 0;

}
.quality{
	display: flex;
	justify-content: center;
	padding: 10px;
}
.quality img{
	padding-right: 20px;
}
.quality h2,p{
	margin: 0;
}
.assurance{
	margin-top: 20px;
}

.video{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

#pricing{
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.product{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product ol{
	margin: 15px 0;
	padding: 0;
}
.product li{
	list-style: none;
	padding: 5px;	
}
.tenor{
	padding: 15px;
	background-color: #dddd;
	font-weight: 700;
	width: 90%;
}

.bass{
	padding: 15px;
	background-color: #dddd;
	font-weight: 700;
	width: 90%;
}
.valve{
	padding: 15px;
	background-color: #dddd;
	font-weight: 700;
	width: 90%;
}

.product button{
	margin: 15px 0px;
	font-weight: 400;
	background-color: #f1c40f;
	color: black;
}
.product h2{
	margin: 0;
	margin-top: 15px;
}

footer{
	margin-top: 30px;
	background-color: #dddd;
	padding: 20px; 
}

footer > div{
	display: flex;
	justify-content: flex-end;
}
footer li{
	color:black;
	padding: 0px 10px;
	list-style: none;
	text-decoration: none;	
}

footer span{
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
	font-size: 0.9em;
	color: #444;
}
footer a{
	color: #000;
	text-decoration: none;
}

.get-started{
    border: 0;
    border-radius: 4px;
    background-color: rgb(241, 196, 15);

    padding: 10px 20px;

    text-align: center;
    text-align: center;
    color:black;
    font-weight: 900;
    width: 15%;
}

.get-started:hover {
    background-color: rgb(89, 172, 224);
}

.get-started:active {	
    background-color: rgb(89, 172, 224);
}

.select{
	border: 0;
    border-radius: 4px;
    background-color: rgb(241, 196, 15);

    padding: 10px 20px;

    font-size: 1rem;
    text-align: center;
    text-align: center;
    color: #fff;

}