html{
background-color: #eee/*rgb(162,166,166)*/;
}
body{
	margin-left:150px;
	margin-right:150px;
	margin-top: 50px;
	margin-bottom: 10px;
}
.header{
	/*width: 100%;
    height: 100%;
    max-width: 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}
.head{
	display: flex;
}

.nav{
	display: flex;
}
.nav div{
	margin-right: 20px;
}

.handcrafted {
	display: flex;
	justify-content: center;
	font-size: 
	margin-bottom:20px;
	word-wrap: break-word;
}
.email{
	display: flex;
	justify-content: center;
	max-width: 275;
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.button{
	display: flex;
	justify-content: center;
}
.premium{
	display: flex;
	justify-content: center;
	/*padding: 10px;*/
	margin:20px;
	padding-right: 100px;
	margin-left: 0px;	 	
}

.premium img{
	padding-right: 0px;
	padding-left: 0px;
}
.premium h2,p{
	margin: 0;
}

.shipping{
	display: flex;
	justify-content: center;
	padding: 20px;
	/*margin:20px;	 */
}
.shipping img{
	padding-right: 30px;
}
.shipping h2,p{
	margin: 0;

}
.quality{
	display: flex;
	justify-content: center;
	padding: 10px;
	margin:20px;	 
}
.quality img{
	padding-right: 20px;
}
.quality h2,p{
	margin: 0;
}

.video{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	padding-right: 250px;
}

#pricing{
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.product{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
.product li{
	list-style: none;
	padding: 10px;	
}
.tenor{
	padding: 15px;
	background-color: #dddd;
	font-weight: 700;
	width: 90%;
}

.bass{
	padding: 15px;
	background-color: #dddd;
	font-weight: 700;
	width: 90%;
}
.valve{
	padding: 15px;
	background-color: #dddd;
	font-weight: 700;
	width: 90%;
}

.product button{
	margin: 15px 0px;
	font-weight: 400;
}

footer{
	margin-top: 50px;
	background-color: #dddd;
	padding: 20px; 
}

footer ul{
	display: flex;
	justify-content: flex-end;
}
footer li{
	padding: 0px 10px;
	list-style: none;	
}

footer span{
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	font-size: 0.9em;
	color: #444;
}

.get-started{
    border: 0;
    border-radius: 4px;
    background-color: rgb(241, 196, 15);

    padding: 10px 20px;

    font-size: 1rem;
    text-align: center;
    text-align: center;
    color: #fff;
}

.get-started:hover {
    background-color: rgb(89, 172, 224);
}

.get-started:active {	
    background-color: rgb(89, 172, 224);
}

.select{
	border: 0;
    border-radius: 4px;
    background-color: rgb(241, 196, 15);

    padding: 10px 20px;

    font-size: 1rem;
    text-align: center;
    text-align: center;
    color: #fff;

}